{% extends 'layouts/default.twig' %}

{% block content %}
<div class="container">
    <h1 class="title m-6 is-size-2 has-text-centered">Welcome to Flight.Skeleton</h1>
    <div class="fixed-grid">
        <div class="grid">
            <div class="cell">
                <article class="message is-light">
                    <div class="message-header">
                        <h2 class="is-size-3">FlightPHP 3.X</h2>
                    </div>
                    <div class="message-body">
                        Flight is a fast, simple, extensible framework for PHP—built for developers who want to get things done quickly, with zero fuss.
                    </div>
                </article>
            </div>
            <div class="cell">
                <article class="message is-light">
                    <div class="message-header">
                        <h2 class="is-size-3">Client-Side Sessions</h2>
                    </div>
                    <div class="message-body">
                        Store session data client side in encrypted session cookies using defuse/php-encryption.
                    </div>
                </article>

            </div>
            <div class="cell">
                <article class="message is-light">
                    <div class="message-header">
                        <h2 class="is-size-3">Simple PDO</h2>
                    </div>
                    <div class="message-body">
                        A simple entity / factory database layer based on Flight's SimplePDO wrapper.
                    </div>
                </article>
            </div>
            <div class="cell">
                <article class="message is-light">
                    <div class="message-header">
                        <h2 class="is-size-3">Twig Templates</h2>
                    </div>
                    <div class="message-body">
                        Integrated Twig with routing and asset extensions including intelligent client-side cache busting.
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
